/*
creaturing
https://p9e.page/beka
https://octopus.boo
*/

.fan { line-height: 1.61 }
.bit { font-family:sans-serif }
.hip { font-size: max(4vmax, 22pt) }
.lip { display: contents }
.lit { text-transform: lowercase }
.ruh { text-decoration: wavy line-through }
.nip :focus { outline: medium groove }
.nap { font-weight: lighter }
.wub { font-weight: bolder }
.wuv { text-decoration-style: wavy }
.wah :focus { outline: thick dotted }
.wuh { font-style:oblique }
.rub { word-spacing: 1px }
.free { margin: auto }
.beak { font-size: max(2ex, 8vmax) }
.pump { padding-block: 1ex }
.play { padding-block: 6ex 3ex }
.prey { padding-block: 3ex 6ex }
.pray { padding-block: 1ex 8ex }
.pool { padding-block: 8ex 1ex }
.loop { padding-block: 6ex 3ex }
.poke { padding-block: 0 9ex }
.punk { padding-block: 4.5ex }
.punq { padding-inline: 2em }
.camo {
  contain: layout;
  display: flex;
  flex-flow: wrap;
  margin: auto;
  padding: 0;
}

.eye {
  flex-basis: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 1ex;
}

.triad {
  flex-basis: 33.333333%;
  text-align: center;
  box-sizing: border-box;
  padding-inline: 1ex;
}

.macaw {
  margin: auto;
}
